{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction Type</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ "Bought" if transaction.shares > 0 else "Sold" }}</td>
                    <td>{{ transaction.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
